@model IEnumerable<Employemanagement_22_8_24.Models.User>

@{
    ViewBag.Title = "View Users";
}

<h2>Users</h2>

<div class="mb-3">
    <form action="@Url.Action("DownloadUsers", "Admin")" method="post" style="display:inline;">
        
        <button type="submit" class="btn btn-warning btn-sm">Download as excel</button>
    </form>
    
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>User ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserId</td>
                <td>@user.Name</td>
                <td>@user.Email</td>
                <td>@user.Role</td>
                <td>
                    <form action="@Url.Action("EditUser", "Admin")" method="get" style="display:inline;">
                        <input type="hidden" name="userId" value="@user.UserId" />
                        <button type="submit" class="btn btn-warning btn-sm">Edit</button>
                    </form>
                    <form action="@Url.Action("ViewUserDetails", "Admin")" method="get" style="display:inline;">
                        <input type="hidden" name="userId" value="@user.UserId" />
                        <button type="submit" class="btn btn-warning btn-sm">Details</button>
                    </form>
                        

                    <form action="@Url.Action("DeleteUser", "Admin", new { id = user.UserId })" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>

                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="Admin" asp-action="AdminDashboard" class="btn btn-secondary">Back to Dashboard</a>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
